<!doctype html>
<html>
<head>
	<title>We Rate Dogs Application</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-app="dogApp">
	<h1>We Rate Dogs!</h1>

	<div class="container">

		<ul class="list-unstyled" ng-controller="DogAppController as dogAppCtrl">

			<li ng-repeat="dog in dogAppCtrl.dogs.dogs" class="thumbnail container-fluid" style="max-width: 400px">
				<img ng-src="{{dog.img}}" alt="Picture of {{dog.name}}" class="thumbnail" style="max-height: 300px">
				<p class="lead">{{dog.description}}</p>

				<div ng-init="tab = 1">
					<ul class="nav nav-tabs nav-justified">
					  <li class="active"><a href ng-click="tab = 1">Details</a></li>
					  <li><a href ng-click="tab = 2">User Reviews</a></li>
					  <li><a href ng-click="tab = 3">Add Review</a></li>
					</ul>
					
					<div class="container-fluid" ng-show="tab == 1">
						<p>Details</p>
					</div>

					<div class="container-fluid" ng-show="tab == 2">
						<p>User Reviews</p>
					</div>

					<div class="container-fluid" ng-show="tab == 3">
						<p>Add Review</p>
					</div>
				</div>

			</li>

		</ul>

	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>

</body>

</html>